@font-face {
  font-family: 'SF Pro Display';
  src: url('../fotns/SFProDisplay-Medium.eot');
  src: local('../fotns/SF Pro Display Medium'), local('SFProDisplay-Medium'),
  url('../fotns/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fotns/SFProDisplay-Medium.woff2') format('woff2'),
  url('../fotns/SFProDisplay-Medium.woff') format('woff'),
  url('../fotns/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fotns/SFProDisplay-Regular.eot');
  src: local('../fotns/SF Pro Display Regular'), local('SFProDisplay-Regular'),
  url('../fotns/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fotns/SFProDisplay-Regular.woff2') format('woff2'),
  url('../fotns/SFProDisplay-Regular.woff') format('woff'),
  url('../fotns/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
