html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: $font;
  background-color:  $clr-grey;
}
#__nuxt,
#__layout,
body,
html {
  height: 100%;
}
main {
  height: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1680px;
}
