$font: 'SF Pro Display';

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 1.75;



$clr-blue: #99CCFF;
$clr-blue-100: #2F80F3;

$clr-grey: #DCE4EE;
$clr-red: #DB5454;

$clr-white: #ffffff;
$clr-dark: #000000;

$clr-black: #242424;
$clr-black-100: #404040;
