@import 'fonts';
@import 'variables';
@import 'type';

:root {
  font-size: 16px;
}

html,
body,
#__nuxt,
#__layout {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
}
