<template>
  <div class="timer">
    Получить новой код можно<br />
    через {{ time | prettify }}
  </div>
</template>
<script>
export default {
  name: "Timer",
  props: ["time"],
  filters: {
    prettify: function(value) {
      let data = value.split(":");
      let minutes = data[0];
      let secondes = data[1];
      if (minutes < 10) {
        minutes = "0" + minutes;
      }
      if (secondes < 10) {
        secondes = "0" + secondes;
      }
      return minutes + ":" + secondes;
    }
  }
};
</script>
<style lang="scss" scoped>
.timer {
  color: #788aa4;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
</style>
