<template>
  <header class="navbar">
    <div class="container">
      <a href="#" class="navbar__logo">
        LOGO
      </a>
      <div class="navbar__container"></div>
      <ul class="navbar__nav">
        <li class="navbar__nav-item auth">
          <a
            href="#"
            @click.prevent="
              show = true;
              entercode = false;
            "
            >Войти</a
          >
        </li>
        <li class="navbar__nav-item register">
          <a
            href="#"
            @click.prevent="
              show = true;
              entercode = false;
            "
            >Регистрация</a
          >
        </li>
      </ul>
    </div>
    <BaseModal v-bind:show.sync="show">
      <div slot="header">
        <h2 v-if="!entercode">Вход или регистрация</h2>
        <h2 v-else>Введите код</h2>
      </div>
      <div v-show="!entercode">
        <form class="login-form" v-on:submit.prevent="next">
          <BaseInputPhone
            label="Номер телефона"
            v-model="phone"
            @notValid="phoneVisible"
            placeholder="+7 (___) ___-__-__"
          />
          <BaseButton
            class="btn-auth"
            @click="next"
            type="primary"
            block
            :disabled="!validPhone"
            >Продолжить</BaseButton
          >
        </form>
        <p>
          Нажимая кнопку «Продолжить», я даю согласие на обработку моих
          персональных данных и принимаю настоящие <a href="#">Соглашения</a>
        </p>
      </div>
      <div v-show="entercode">
        <form class="entercode-form" v-on:submit.prevent="nextEntercode">
          <div class="entercode-form__info">
            <p>Мы отправили код на {{ phoneNotValid }}</p>
            <a href="#" @click.prevent="entercode = false">Изменить</a>
          </div>

          <div class="entercode-form__input">
            <BaseInputCode
              span-size="40px"
              type="number"
              :number="4"
              height="80px"
              span-color="#242424"
              input-color="#242424"
              input-size="40px"
              :code="codeSms"
              :success="success"
            ></BaseInputCode>
          </div>
        </form>
        <div class="timer-group" v-if="timeOut">
          <a href="#" @click.prevent="nextAgain">Отправить код еще раз</a>
        </div>
        <div class="timer-group" v-if="!timeOut">
          <Timer :time="prettyTime" />
        </div>
      </div>

      <div slot="footer"></div>
    </BaseModal>
  </header>
</template>

<script>
import BaseModal from "~/components/base/BaseModal";
import BaseInputPhone from "~/components/base/BaseInputPhone.vue";
import BaseButton from "~/components/base/BaseButton.vue";
import BaseInputCode from "~/components/base/BaseInputCode.vue";
import Timer from "~/components/Timer.vue";

export default {
  name: "NavBar",
  components: {
    BaseModal,
    BaseInputPhone,
    BaseButton,
    BaseInputCode,
    Timer
  },
  data() {
    return {
      show: false,
      phone: "",
      phoneNotValid: "",
      entercode: false,
      codeSms: [],
      codeString: "",
      timeOut: false,
      time: 60
    };
  },
  computed: {
    prettyTime() {
      let time = this.time / 60;
      let minutes = parseInt(time);
      let secondes = Math.round((time - minutes) * 60);
      return minutes + ":" + secondes;
    },
    validPhone() {
      return this.phone.replace(/[_]/g, "").length === 11;
    },
    validEntercode() {
      return this.codeSms.length === 4;
    }
  },
  methods: {
    start() {
      this.timer = setInterval(() => {
        if (this.time > 0) {
          this.time--;
        } else {
          clearInterval(this.timer);
          this.timeOut = true;
          this.time = 60;
        }
      }, 1000);
    },
    phoneVisible(phone) {
      this.phoneNotValid = phone;
    },
    success(code) {
      this.codeString = code;
      if (this.validEntercode) {
        // TODO делаем отправку
        console.log("success делаем отправку");
      }
    },
    next() {
      if (!this.validPhone) return;
      // TODO делаем отправку
      this.entercode = true;
      clearInterval(this.timer);
      this.time = 60;
      this.start();
    },
    nextAgain() {
      if (!this.validPhone) return;
      // TODO делаем отправку
      console.log("success делаем отправку");
      this.timeOut = false;
      this.start();
    }
  }
};
</script>

<style lang="scss" scoped>
.navbar {
  background-color: $clr-white;
  min-height: 80px;
  .container {
    display: flex;
    min-height: 80px;
  }
  &__logo {
    display: flex;
    align-items: center;
  }
  &__nav {
    margin: 0 0 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
    &-item {
      min-height: 100%;
      &.auth {
        a {
          color: $clr-black;
        }
      }
      &.register {
        a {
          background-color: $clr-blue;
          color: $clr-white;
        }
      }
      a {
        min-height: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-items: center;
        text-decoration: none;
        padding: 0 50px;
        margin: 0 1px;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
      }
    }
  }
}
.btn-auth {
  margin: 0 0 38px 0;
}
.timer-group {
  text-align: center;
  a {
    color: #788aa4;
    font-size: 20px;
    line-height: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.entercode-form {
  &__info {
    margin: 0 0 25px 0;
    p,
    a {
      font-size: 20px;
      line-height: 20px;
      margin: 0 0 10px 0;
    }
    a {
      text-decoration: none;
      color: $clr-blue-100;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__input {
    margin-bottom: 30px;
  }
}
</style>
