<template>
  <component
    :is="tag"
    :type="tag === 'button' ? nativeType : ''"
    @click="handleClick"
    class="btn"
    :class="classes"
    :disabled="disabled"
  >
    <slot>
      {{ text }}
    </slot>
  </component>
</template>
<script>
export default {
  name: "BaseButton",
  props: {
    tag: {
      type: String,
      default: "button",
      description: "Button tag button|a|input"
    },
    disabled: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: "default",
      description: "Button type default|primary",
      validator: function(val) {
        return ["default", "primary", "danger"].indexOf(val) !== -1;
      }
    },
    nativeType: {
      type: String,
      default: "button",
      description: "Button native type (e.g submit,button etc)"
    },
    text: {
      type: String,
      default: "",
      description: "Button text in case not provided via default slot"
    },
    block: {
      type: Boolean,
      default: false,
      description: "Whether button is of block type"
    }
  },
  computed: {
    classes() {
      return [
        { "btn-block": this.block },
        this.type && !this.outline ? `btn-${this.type}` : "",
        this.outline ? `btn-outline-${this.type}` : ""
      ];
    }
  },
  methods: {
    handleClick(evt) {
      this.$emit("click", evt);
    }
  }
};
</script>
<style lang="scss" scoped>
.btn {
  display: inline-block;
  font-weight: 500;
  color: #022047;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 22px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  cursor: pointer;
  &:disabled,
  &.disabled {
    opacity: 0.65;
    background-color: $clr-grey;
  }
  &-block {
    display: block;
    width: 100%;
  }
  &-primary {
    color: $clr-white;
    background-color: $clr-blue-100;
  }
}
</style>
