<template type="x/template">
  <div class="vue_input_code">
    <div class="input" @click="focusInput" :style="{ height: height }">
      <div
        class="input-code"
        :class="{ first: inputCodeNum === 0, last: inputCodeNum === 6 }"
        :style="{
          left: left,
          'z-index': zIndex,
          height: height,
          width: blockSize - 1 + '%'
        }"
      >
        <template v-if="type === 'number'">
          <input
            ref="input_code"
            v-mask="'#'"
            type="tel"
            :style="{ 'font-size': inputSize, color: inputColor }"
            @keyup.passive="inputCodeEvent($event)"
            @blur="blurInput"
            v-model="inputCode"
            autofocus
            maxlength="1"
            @keyup.delete="deleteInput"
          />
        </template>
        <template v-else>
          <input
            ref="input_code"
            type="text"
            :style="{ 'font-size': inputSize, color: inputColor }"
            @keyup.passive="inputCodeEvent($event)"
            @blur="blurInput"
            v-model="inputCode"
            autofocus
            maxlength="1"
            @keyup.delete="deleteInput"
          />
        </template>
      </div>
      <span
        v-for="(item, index) in block"
        :key="index"
        :style="{
          'font-size': spanSize,
          color: spanColor,
          height: height,
          'line-height': height,
          width: blockWidth
        }"
        v-text="codeArray[index] ? codeArray[index] : ''"
        :class="{ first: index === 0, last: index === number - 1 }"
      ></span>
    </div>
  </div>
</template>

<script>
let timer = null;

export default {
  props: {
    code: {
      type: Array,
      default: () => [],
      required: true
    },
    success: {
      type: Function,
      default: () => {}
    },
    error: {
      type: Function,
      default: () => {}
    },
    getInput: {
      type: Function,
      default: () => {}
    },
    spanSize: {
      type: String,
      default: "20px"
    },
    spanColor: {
      type: String,
      default: "#f35252"
    },
    inputSize: {
      type: String,
      default: "20px"
    },
    inputColor: {
      type: String,
      default: "#000"
    },
    height: {
      type: String,
      default: "40px"
    },
    number: {
      type: Number,
      default: 6
    },
    type: {
      type: String,
      default: "number",
      validator: value => {
        return ["number", "text"].indexOf(value) > -1;
      }
    },
    upperCase: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      inputCodeNum: 0,
      left: "0",
      inputCode: "",
      codeArray: [],

      blockWidth: (100 / this.number).toFixed(4) + "%",
      blockSize: (100 / this.number).toFixed(4),
      block: [],

      zIndex: 10
    };
  },
  created() {
    for (let i = 0; i < this.number; i++) {
      this.block.push(i);
    }
  },
  computed: {
    codeString() {
      let data = "";
      this.codeArray.map(item => {
        data += item;
      });
      return data;
    }
  },
  methods: {
    deleteInput() {
      if (this.inputCodeNum === this.number - 1) {
        this.inputCodeNum--;
        this.left = this.blockSize * this.inputCodeNum + "%";
        this.codeArray.pop();
        this.code.pop();
        this.getInput(this.codeString);
        return;
      }
      if (this.inputCodeNum !== 0) {
        this.inputCodeNum--;
        this.codeArray.pop();
        this.code.pop();
        this.left = this.blockSize * this.inputCodeNum + "%";
        this.getInput(this.codeString);
      }
    },
    inputCodeEvent(event) {
      if (!this.inputCode) return;
      if (this.type === "number" && isNaN(this.inputCode)) {
        if (!this.error(this.inputCode)) {
          this.inputCode = "";
          return;
        }
      }
      this.upperCase && (this.inputCode = this.inputCode.toUpperCase());

      if (this.inputCodeNum < this.number - 1) {
        this.codeArray.push(this.inputCode);
        this.code.push(this.inputCode);
        this.inputCode = "";
        this.inputCodeNum++;
        this.left = this.blockSize * this.inputCodeNum + "%";

        this.getInput(this.codeString);
      } else {
        if (this.inputCodeNum === this.number - 1) {
          this.inputCodeNum++;
          this.codeArray.push(this.inputCode);
          this.code.push(this.inputCode);
          this.success(this.codeString);
          this.getInput(this.codeString);
        }
      }
    },
    blurInput() {
      this.zIndex = -10;
    },
    focusInput() {
      this.zIndex = 10;
      this.$refs.input_code.focus();
    }
  }
};
</script>

<style lang="scss" scoped>
.vue_input_code {
  width: 100%;
  max-width: 315px;
  margin: 0 auto 10px;
}

.vue_input_code .input {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vue_input_code .input > div {
  border: 1px solid $clr-grey;
  font-weight: normal;
  background-color: white;
}

.vue_input_code .input > div input {
  font-size: 20px;
  line-height: 20px;
  width: 90%;
  color: #2d4ef5;
  text-align: center;
  outline: none;
  border: none;
  margin-right: 5px;
  background: transparent;
  font-weight: normal;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: inherit;
}

.vue_input_code .input .input-code {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1.25%;
  border: none;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.vue_input_code .input > span {
  border: 1px solid $clr-blue;
  font-weight: 900;
  background-color: white;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}
.vue_input_code .input > span {
  font-weight: normal;
  margin: 0 5px;
}
</style>
