<template>
  <div>
    <slot name="label">
      <label v-if="label" class="wrap" :class="labelClasses">
        {{ label }}
        <span v-if="required">*</span>
      </label>
    </slot>
    <div
      class="form-group"
      :class="[{ focused: focused }, { 'has-label': label || $slots.label }]"
    >
      <slot v-bind="slotData">
        <masked-input
          v-model="phone"
          @copy.prevent
          ref="input"
          class="form-control"
          v-on="listeners"
          v-bind="$attrs"
          :class="[inputClasses]"
          mask="\+\7 (111) 111-11-11"
          placeholder="+7 (___) ___-__-__"
          @input="rawVal = arguments[1]"
          type="tel"
        />
      </slot>
    </div>
  </div>
</template>
<script>
export default {
  inheritAttrs: false,
  name: "BaseInput",
  props: {
    required: {
      type: Boolean,
      description: "Whether input is required (adds an asterix *)"
    },
    valid: {
      type: Boolean,
      description: "Whether is valid",
      default: undefined
    },
    label: {
      type: String,
      description: "Input label (text before input)"
    },
    error: {
      type: String,
      description: "Input error (below input)"
    },
    labelClasses: {
      type: String,
      description: "Input label css classes"
    },
    inputClasses: {
      type: String,
      description: "Input css classes"
    },
    value: {
      type: [String, Number],
      description: "Input value"
    },
    confirmed: {
      type: Boolean,
      default: false,
      description: "Whether input is password (adds an asterix *)"
    },
    regex: {
      type: [String, Boolean],
      default: false,
      description: "Whether input is password (adds an asterix *)"
    },
    status: {
      type: [String, Boolean],
      default: false
    }
  },
  data() {
    return {
      focused: false,
      isShow: false,
      phone: "",
      rawVal: ""
    };
  },
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue,
        focus: this.onFocus,
        blur: this.onBlur
      };
    },
    slotData() {
      return {
        focused: this.focused,
        ...this.listeners
      };
    }
  },
  methods: {
    updateValue() {
      let value = this.rawVal;
      this.$emit("input", `7${value}`);
      this.$emit("notValid", this.phone);
    },
    onFocus(value) {
      this.focused = true;
      this.$emit("focus", value);
    },
    onBlur(value) {
      this.focused = false;
      this.$emit("blur", value);
    }
  }
};
</script>
<style lang="scss" scoped>
label.wrap {
  font-size: 18px;
  line-height: 20px;
  color: $clr-black-100;
  display: inline-block;
  margin: 0 0 14px 0;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(4rem + 2px);
  padding: 0.6875rem 0.75rem;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.375;
  color: $clr-dark;
  background-color: $clr-white;
  background-clip: padding-box;
  border: 1px solid $clr-grey;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  outline: none;
  margin: 0 0 10px 0;
  &:focus {
    border-color: $clr-blue;
    outline: 0;
    box-shadow: none;
  }
}
</style>
