<template>
  <FadeTransition :duration="animationDuration">
    <div
      v-show="show"
      :class="[
        { 'show d-block': show },
        { 'd-none': !show },
        { 'modal-mini': type === 'mini' }
      ]"
      :aria-hidden="!show"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      @click.self="closeModal"
    >
      <div
        :class="[{ 'modal-notice': type === 'notice' }, modalClasses]"
        class="modal-dialog modal-dialog-top"
      >
        <div
          :class="[
            gradient ? `bg-gradient-${gradient}` : '',
            modalContentClasses
          ]"
          class="modal-content"
        >
          <div
            v-if="$slots.header"
            :class="[headerClasses]"
            class="modal-header justify-content-between"
          >
            <slot name="header" />
            <slot name="close-button">
              <button
                v-if="showClose"
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                @click="closeModal"
              >
                <span :aria-hidden="!show">×</span>
              </button>
            </slot>
          </div>

          <div :class="bodyClasses" class="modal-body">
            <slot />
          </div>

          <div v-if="$slots.footer" :class="footerClasses" class="modal-footer">
            <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </FadeTransition>
</template>
<script>
import { FadeTransition } from "vue2-transitions";

export default {
  name: "BaseModal",
  components: {
    FadeTransition
  },
  props: {
    show: Boolean,
    showClose: {
      type: Boolean,
      default: true
    },
    type: {
      type: String,
      default: "",
      validator(value) {
        let acceptedValues = ["", "notice", "mini"];
        return acceptedValues.indexOf(value) !== -1;
      },
      description: 'Modal type (notice|mini|"") '
    },
    modalClasses: {
      type: [Object, String],
      description: "Modal dialog css classes"
    },
    modalContentClasses: {
      type: [Object, String],
      description: "Modal dialog content css classes"
    },
    gradient: {
      type: String,
      description: "Modal gradient type (danger, primary etc)"
    },
    headerClasses: {
      type: [Object, String],
      description: "Modal Header css classes"
    },
    bodyClasses: {
      type: [Object, String],
      description: "Modal Body css classes"
    },
    footerClasses: {
      type: [Object, String],
      description: "Modal Footer css classes"
    },
    animationDuration: {
      type: Number,
      default: 500,
      description: "Modal transition duration"
    }
  },
  watch: {
    show(val) {
      let documentClasses = document.body.classList;
      if (val) {
        documentClasses.add("modal-open");
      } else {
        documentClasses.remove("modal-open");
      }
    }
  },
  methods: {
    closeModal() {
      this.$emit("update:show", false);
      this.$emit("close");
    }
  }
};
</script>
<style lang="scss">
.d-block {
  display: block !important;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  &-dialog {
    position: relative;
    width: auto;
    margin: 0 auto;
    pointer-events: none;
    max-width: 520px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &-header {
    padding: 1rem 45px;
    min-height: 60px;
    position: relative;
    h2 {
      font-size: 25px;
      line-height: 30px;
      margin: 36px 0 0 0;
      font-weight: 500;
      color: $clr-black;
    }
    .close {
      margin: 0;
      position: absolute;
      right: 0;
      top: 0;
      font-family: inherit;
      float: right;
      font-weight: 300;
      line-height: 1;
      text-shadow: none;
      opacity: 0.9;
      color: $clr-black;
      cursor: pointer;
      border: none;
      background: none;
      font-size: 2rem;
      padding: 15px 24px;
      outline: none;
      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
      span {
        display: block;
      }
    }
  }
  &-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0px 7px 70px rgba(0, 50, 123, 0.1);
    outline: 0;
    border: 0;
    @media (max-width: 575.98px) {
      min-height: 100%;
    }
  }
  &-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 45px;
    p,
    a {
      margin: 0;
      font-size: 14px;
      line-height: 20px;
      color: $clr-black;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-footer {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem 45px;
  }
}

.modal.show {
  background-color: rgba(255, 255, 255, 0.9);
}
</style>
