<template>
  <div class="layout">
    <NavBar />
    <main class="layout-main" role="main">
      <Nuxt />
    </main>
  </div>
</template>

<script>
import NavBar from "~/components/navigation/NavBar.vue";

export default {
  components: {
    NavBar
  }
};
</script>

<style lang="scss">
.layout {
}
</style>
